{% extends 'sportsint/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<form action="{% url 'contact' pk %}" method="post"  enctype="multipart/form-data" class="frm">
    {% csrf_token %}
    <div class="form-row">
      <div class="form-group col-md-12 mb-0">
        {{ contactformwo.ad|as_crispy_field }}
      </div>
      <div class="form-group col-md-12 mb-0">
        {{ contactformwo.soyad|as_crispy_field }}
      </div>
      <h6>Elektronik Ticari İleti Almayı Kabul Ediyorum</h6>
       <div class="form-check form-switch">
	      {{ contactformwo.iys_sms|as_crispy_field }}
              {{ contactformwo.iys_arama|as_crispy_field }}
	      {{ contactformwo.iys_email|as_crispy_field }}
       </div>

      <div class="form-check">

      
          {{ contactformwo.k_aydinlatmaMetin|as_crispy_field }}
      </div>

      </div>	      



    <style>
      .frm {
          color: rgb(0, 137, 208);
      }

      .form-check {
       position: static;
       margin-top: 2;
       margin-left: -12;
      }

  </style>


    <button type="submit" class="btn btn-success">Onayla</button>
  </form>
{% endblock %}
